$niceText: 'Izhitsa Cyrillic';
$text: 'PF Beau Sans Pro';
$red: #d11315;
$brown: #532700;

#menu {
    background-image: url(../images/bg_tree.jpg);
    background-size: cover;
    background-repeat: repeat-y;

    .wrapper {
        padding-bottom: 40px;
    }
}

.categories {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 20px 0;
}

.category {
    font-size: 24px;
    font-family: $text;
    font-weight: bold;
    color: #ffffff;
}

.menu {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.sectionName {
    color: #ffffff;
    font-size: 42px;
    font-family: $niceText;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}

.cardWrapper {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
}

.card {
    background-color: rgba($color: #ffffff, $alpha: 1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 25px;
}

.imgWrapper {
    width: 100%;

    img {
        width: 100%;
        height: auto;
    }
}

.title {
    text-align: center;
    font-size: 22px;
    font-family: $text;
    font-weight: bold;
    margin-top: 20px;
}

.description {
    text-align: center;
    font-family: $text;
    padding: 10px;
}

.cardFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;

    button {
        background: none;
        border: none;
        cursor: pointer;

        img {
            width: 50px;
            height: 50px;
        }
    }
}

.price {
    font-family: $niceText;
    font-size: 32px;
    color: $brown;
}

@media screen and (max-width:960px){
    .categories {
        .category:nth-child(4){
            display: none;
        }

        .category:nth-child(5){
            display: none;
        }
    }

    .cardWrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:640px){
    .cardWrapper {
       grid-gap: 30px;
    }

    .cardFooter button img {
        height: 35px;
        width: 35px;
    }
}

@media screen and (max-width:480px){
    .cardWrapper {
        grid-template-columns: 1fr;
    }
}
